<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.andy.pay.mapper.LoginLogMapper">
    <resultMap id="LogInfoResult" type="LoginLog">
        <id property="id" column="id" jdbcType="VARCHAR" />
        <result property="user_id" column="user_id" jdbcType="VARCHAR"/>
        <result property="login_time" column="login_time" jdbcType="TIMESTAMP"/>
        <result property="exit_time" column="exit_time" jdbcType="TIMESTAMP"/>
        <result property="login_ip" column="login_ip" jdbcType="VARCHAR"/>
        <result property="login_type" column="login_type" jdbcType="INTEGER"/>
        <result property="login_browser" column="login_browser" jdbcType="VARCHAR"/>
        <result property="login_operateSystem" column="login_operateSystem" jdbcType="VARCHAR"/>
        <result property="is_use" column="is_use" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="commSql">
        select id,user_id,login_time ,exit_time,login_ip,login_type,login_browser,login_operateSystem,is_use from tbl_loginlog
    </sql>
    <insert id="addLog" parameterType="LoginLog">
      insert into tbl_loginlog(id,user_id,login_time,exit_time,login_ip,login_type,login_browser,login_operateSystem,is_use)
      values(#{id},#{user_id},#{login_time},#{exit_time},#{login_ip},#{login_type},#{login_browser},#{login_operateSystem},#{is_use})
    </insert>
    <insert id="modifyLogStatus" parameterType="LoginLog">
      update tbl_loginlog set is_use=#{is_use} where id=#{id}
    </insert>
    <select id="getUserLog" parameterType="String" resultMap="LogInfoResult">
        <include refid="commSql"/>where user_id=#{userId}
    </select>
</mapper>