<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.andy.pay.mapper.LoginLogMapper">
    <resultMap id="LoginLogResult" type="LoginLog">
        <id property="id" column="id" jdbcType="VARCHAR" />
        <result property="login_time" column="login_time" jdbcType="TIMESTAMP"/>
        <result property="exit_time" column="exit_time" jdbcType="TIMESTAMP"/>
        <result property="user_id" column="user_id" jdbcType="VARCHAR"/>
        <result property="ip" column="ip" jdbcType="VARCHAR"/>
        <result property="city" column="city" jdbcType="VARCHAR"/>
        <result property="os" column="os" jdbcType="VARCHAR"/>
        <result property="brower" column="brower" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="info" column="info" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="create_time" column="create_time" jdbcType="VARCHAR"/>
        <result property="is_use" column="is_use" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="connSql">
        select id,login_time,exit_time,user_id,ip,city,os,brower,description,remark,type,info,username,create_time,is_use from tbl_login_logs
    </sql>
    <insert id="addLog" parameterType="LoginLog">
        insert into tbl_login_logs(id,login_time,exit_time,user_id,ip,city,os,brower,description,remark,type,info,username,create_time,is_use)
        values(#{id},#{login_time},#{exit_time},#{user_id},#{ip},#{city},#{os},#{brower},#{description},#{remark},#{type},#{info},#{username},#{create_time},#{is_use});
    </insert>
    <select id="getUserLog" resultMap="LoginLogResult">
      <include refid="connSql"/> where user_id=#{userId} and is_use=0 order by login_time desc limit #{pageStart},#{pageSize};
    </select>
    <select id="countUserLogByUserId" parameterType="String" resultType="int">
        select count(id) from tbl_login_logs where user_id=#{userId} and is_use=0
    </select>
</mapper>