<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.andy.pay.mapper.RoleMapper">
    <resultMap id="UserInfoResult" type="Role">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="role_name" column="role_name" jdbcType="VARCHAR"/>
        <result property="role_description" column="role_description" jdbcType="VARCHAR"/>
        <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="create_user" column="create_user" jdbcType="VARCHAR"/>
        <result property="lastmodify_time" column="lastmodify_time" jdbcType="TIMESTAMP"/>
        <result property="lastmodify_user" column="lastmodify_user" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="is_use" column="is_use" jdbcType="INTEGER"/>
    </resultMap>
    <insert id="addRole" parameterType="Role">
       insert into tbl_role(id,role_name,role_descritpion,create_time,create_user,status,is_use)
       values(#{id},#{role_name},#{role_descritpion,#{create_time,#{create_user,#{status,#{is_use});
    </insert>
    <update id="remoreRole" parameterType="Role">
       update tbl_role set is_use =0,lastmodify_time=#{lastmodify_time},lastmodify_user=#{lastmodify_user} where id = #{id};
    </update>
    <insert id="correlationPermissions" parameterType="RolePermission">
      insert into tbl_role_permission(id,role_id,permission_id,create_time,create_user,status)values(#{id},#{role_id},#{permission_id},#{create_time,#{create_user},#{status});
    </insert>
    <update id="uncorrelationPermissions" parameterType="RolePermission">
        update tbl_role_permission set is_use=0,lastmodify_time =#{lastmodify_time},lastmodify_user=#{lastmodify_user} where id = #{id};
    </update>
</mapper>

