<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.andy.pay.mapper.UserMapper">
    <resultMap id="UserResult" type="User">
        <id property="id" column="id" jdbcType="VARCHAR" />
        <id property="login_name" column="login_name" jdbcType="VARCHAR" />
        <id property="user_name" column="user_name" jdbcType="VARCHAR" />
        <id property="real_name" column="real_name" jdbcType="VARCHAR" />
        <id property="nick_name" column="nick_name" jdbcType="VARCHAR" />
        <id property="marita_status" column="marita_status" jdbcType="INTEGER" />
        <id property="education_situation" column="education_situation" jdbcType="INTEGER" />
        <id property="password" column="password" jdbcType="VARCHAR" />
        <id property="salt" column="salt" jdbcType="VARCHAR" />
        <id property="email" column="email" jdbcType="VARCHAR" />
        <id property="telephone" column="telephone" jdbcType="VARCHAR" />
        <id property="mobile" column="mobile" jdbcType="VARCHAR" />
        <id property="zipcode" column="zipcode" jdbcType="VARCHAR" />
        <id property="sex" column="sex" jdbcType="INTEGER" />
        <id property="sum_balance" column="sum_balance" jdbcType="INTEGER" />
        <id property="sum_integrate" column="sum_integrate" jdbcType="INTEGER" />
        <id property="current_balance" column="current_balance" jdbcType="INTEGER" />
        <id property="id_type" column="id_type" jdbcType="INTEGER" />
        <id property="id_number" column="id_number" jdbcType="VARCHAR" />
        <id property="grade" column="grade" jdbcType="INTEGER" />
        <id property="remark" column="remark" jdbcType="VARCHAR" />
        <id property="description" column="description" jdbcType="VARCHAR" />
        <id property="headurl" column="headurl" jdbcType="VARCHAR" />
        <id property="brithday" column="brithday" jdbcType="VARCHAR" />
        <id property="source" column="source" jdbcType="INTEGER" />
        <id property="province" column="province" jdbcType="VARCHAR" />
        <id property="city" column="city" jdbcType="VARCHAR" />
        <id property="district" column="district" jdbcType="VARCHAR" />
        <id property="address" column="address" jdbcType="VARCHAR" />
        <id property="is_freeze" column="is_freeze" jdbcType="INTEGER" />
    </resultMap>
    <sql id="connSql">
      select id,user_name,nick_name,login_name,real_name,marita_status,education_situation,password,salt,email,telephone,mobile,
     zipcode,sex,sum_balance,sum_integrate,current_balance,current_integrate,id_type,id_number,grade,remark,
    description,headurl,brithday,source,province,city,district,address from tbl_user
    </sql>
    <!--添加用户的基本信息-->
    <insert id="addBasicUser" parameterType="User">
      insert into tbl_user(id,user_name,nick_name,login_name,password,salt,email,sex,register_ip,register_time,
        register_person,is_freeze,is_use)values(
        #{id},#{user_name},#{nick_name},#{login_name},#{password},#{salt},#{email},#{sex},#{register_ip},#{register_time},#{register_person},#{is_freeze},#{is_use})
    </insert>
    <update id="deleteUser">
      update tbl_user set is_use=1,handler_time=#{handler_time},handler_person=#{handler_user} where id=#{userId};
    </update>
    <update id="freezeUser">
        update tbl_user set is_freeze=1,handler_time=#{handlerTime},handler_person=#{handlerUser} where id=#{userId};
    </update>
    <update id="unfreezeUser">
        update tbl_user set is_freeze=0,handler_time=#{handlerTime},handler_person=#{handlerUser} where id=#{userId};
    </update>
    <update id="modifyBasicUser">
        update tbl_user set login_name=#{login_name},username=#{username},real_name=#{real_name},sex=#{sex},modify_ip=#{modify_ip},modify_time=#{modify_time},modify_person=#{modify_person}
        where id=#{id};
    </update>
    <select id="getUserById" parameterType="String" resultMap="UserResult">
        <include refid="connSql"/> where id=#{id} and is_use=0
    </select>
    <select id="getUserByLoginName" parameterType="String" resultMap="UserResult">
        <include refid="connSql"/> where login_name=#{loginName} and is_use=0
    </select>
    <select id="getUserByTelephone" parameterType="String" resultMap="UserResult">
        <include refid="connSql"/> where telephone=#{telephone} and is_use=0
    </select>
    <select id="getUserByEmail" parameterType="String" resultMap="UserResult">
        <include refid="connSql"/> where email=#{email} and is_use=0
    </select>
    <update id="modifyPassword" parameterType="User">
        update tbl_user set password=#{password},modify_person=#{modify_person},modify_ip=#{modify_ip},modify_time =#{modify_time} where id=#{id}
    </update>
    <select id="login" parameterType="String">
        <include refid="connSql"/> where email=#{username} or telephone=#{username}
    </select>
    <select id="getUserList" parameterType="int" resultMap="UserResult">
        <include refid="connSql"/> where
    </select>
</mapper>