<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.andy.pay.mapper.UserMapper">
    <resultMap id="UserInfoResult" type="User">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="modifyDate" column="modifyDate" jdbcType="TIMESTAMP"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="telephone" column="telephone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="headurl" column="headurl" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="province" column="province" jdbcType="VARCHAR"/>
        <result property="city" column="city" jdbcType="VARCHAR"/>
        <result property="country" column="country" jdbcType="VARCHAR"/>
        <result property="register_time" column="register_time" jdbcType="TIMESTAMP"/>
        <result property="register_ip" column="register_ip" jdbcType="VARCHAR"/>
        <result property="lastlogin_time" column="lastlogin_time" jdbcType="TIMESTAMP"/>
        <result property="lastlogin_ip" column="lastlogin_ip" jdbcType="VARCHAR"/>
        <result property="is_use" column="is_use" jdbcType="INTEGER"/>
        <result property="is_locked" column="is_locked" jdbcType="BOOLEAN"/>
    </resultMap>
    <sql id="commsql">
        select id,modifyDate,username,password,telephone,email,headurl,address,province,city,country,register_time,register_ip,lastlogin_time,is_locked,
        lastlogin_ip from tbl_user
    </sql>
    <insert id="addUser" parameterType="UserInfo">
          insert into tbl_user(id,username,password,is_locked)values(#{id},#{username},#{password},#{is_locked});
    </insert>
    <update id="modifyUser" parameterType="UserInfo">
      update tbl_user set modifyDate=#{modifyDate},lastlogin_time=#{lastlogin_time},username=#{username},telephone=#{telephone},email=#{email},headurl=#{headurl},address=#{address},province=#{province},city=#{city},country=#{country},lastlogin_ip=#{lastlogin_ip} where id=#{id}
    </update>
    <update id="deleteUser" parameterType="String">
        update tbl_user set is_use=0 where id = #{userid};
    </update>
    <select id="getUesrInfo" parameterType="String" resultMap="UserInfoResult">
        <include refid="commsql"/> where username=#{username};
    </select>
    <update id="changePassword">
      update tbl_user set password = #{password} where id=#{userId}
    </update>
    <insert id="correlationRoles" parameterType="UserRole">
      insert into tbl_user_role(id,user_id,role_id,create_user,create_time)values(#{id},#{user_id},#{role_id},#{create_user},#{create_time})
    </insert>
    <update id="uncorrelationRoles" parameterType="UserRole">
       update  tbl_user_role set is_use = 0,lastmodify_time=#{lastmodify_time},lastmodify_user=#{lastmodify_user} where id = #{id}
    </update>
    <select id="findRoleByUserId" parameterType="String" resultType="java.util.Set">
        select role.role_name from tbl_user as user left join tbl_user_role as user_role
          on user.id = user_role.user_id left join tbl_role as role
          on user_role.role_id = role.id
    </select>
    <select id="findPermissionByUserId" parameterType="String" resultType="java.util.Set">

    </select>
</mapper>

